/* --- COLORS --- */
@state-pending: #D8D8D8;
@state-running: #5E9CD3;
@state-fail: #BE0712;
@state-success: #548039;

@state-fail-faded: #eaaf8b;
@state-fail-faded-text: #BC8C1A;
@state-success-faded: #accea6;
@state-success-faded-text: #A4C649;

@text-primary: #363636;

@item-border: #859fb7;
