/* --- COLORS --- */
@state-pending: #D8D8D8;
@state-running: #9eb9d0;
@state-fail: #e0989c;
@state-success: #bbe2b6;

@state-fail-faded: #eaaf8b;
@state-fail-faded-text: #BC8C1A;
@state-success-faded: #accea6;
@state-success-faded-text: #A4C649;

@text-primary: #efefef;

@header-bg: #777676;
@item-border: #e6e6e6;
@item-bg: #929292;
