.dbo-labeled-bar-chart {

  .chart-container {
    position: relative;
    height: 2.6em;
    top: 50%;
    width: 100%;
    background-color: lighten(@state-fail, 10%);

    .chart-value {
      height: inherit;
      background-color: @state-success;
      transition: width 1s;
    }

    .legend {
      color: @header-text;
      position: absolute;
      top: 0.4em;
      left: 0;
      text-align: center;
      width: inherit;

      > b, > span {
        display: block;
        width: 100%;
      }

      > span {
        font-size: 0.6em;
      }
    }
  }
}
